@exim:registry=https://pkgs.dev.azure.com/exim-dev/SuperApp-Platform/_packaging/POC/npm/registry/
always-auth=true
registry=https://registry.npmjs.org/

//pkgs.dev.azure.com/exim-dev/SuperApp-Platform/_packaging/POC/npm/registry/:username=exim-dev
//pkgs.dev.azure.com/exim-dev/SuperApp-Platform/_packaging/POC/npm/registry/:_password=${AZURE_ARTIFACTS_PAT_BASE64}
//pkgs.dev.azure.com/exim-dev/SuperApp-Platform/_packaging/POC/npm/registry/:email=npm-requires-email@example.com